.nftGallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 4rem;
  padding: 40px 10%;
  overflow: auto;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .nftGallery {
    padding: 50px 10%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
