.searchbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 6px 0 40px;
  width: 50%;
}
.searchbar h1 {
  white-space: nowrap;
}
.searchbar input {
  width: 90%;
  height: 40px;
  font-size: 20px;
  box-sizing: content-box;

}

.searchbar button {
  height: 46px;
  width: 120px;
}

@media (max-width: 768px) {
  .searchbar {
    padding: 30px 0 30px;
    width: 80%;
  }
  .searchbar input {
    width: 100%;
  }
}
